body {
  color: #431e99;
  background-color: #83e2da;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.7;
}
form {
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: beige;
}
.title {
  text-align: center;
  color: #000000;
}
label {
  margin-bottom: 10px;
}
input,
select {
  width: 70px;
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
button {
  width: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  color: #431e99;
  background-color: #83e2da;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
button:hover,
button:focus {
  background-color: #62d6cd;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
